
body {
    background-image: url('images/background.jpeg');
    background-size: cover;
    width: 100%;
    font-family: "Lucida Console";
  }
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
}
.navbar .right {
    float: right;
    right: 0;
}
.navbar.scrolled {
    background-color: #f8f9fa;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
}

.navbar a {
    text-decoration: none;
    color: #000;
    padding: 10px;
    margin: 10px;
}

.navbar a:hover {
    color: #333;
}

